<header class="border-spacing">
    <img class="header-logo" src="../../assets/img/logo_lv_673.png" alt="Logo">
    <nav>
        <a routerLink="" class="nav-link">HOME</a>
        <div class="dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ABOUT ME
            </a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/about-me">About Me</a></li>
                <li><a class="dropdown-item" routerLink="/my-principles">My Principles</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              MY WORK
            </a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="">1st</a></li>
                <li><a class="dropdown-item" routerLink="">2nd</a></li>
                <li><a class="dropdown-item" routerLink="">3rd</a></li>
            </ul>
        </div>
    </nav>
</header>