header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-logo {
    object-fit: contain;
    width: 48px;
}

nav {
    display: flex;
    gap: 46px;
}