header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-logo {
    object-fit: contain;
    width: 48px;
}

.nav-link {
    color: var(--link-col);
    border-bottom: solid 2px transparent;
    &:hover {
        color: var(--black-col);
        font-weight: 500;
        border-bottom: solid 2px var(--black-col);
        transition: all 125ms ease-in-out;
    }
}

.navbar-toggler {
    background-color: var(--link-col);
}