nav {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: white;
    box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.35);
}

.container-fluid {
    padding: 0;
}

.nav-logo {
    object-fit: contain;
    width: 48px;
}

.nav-link {
    color: var(--link-col);
    border-bottom: solid 2px transparent;
    &:hover {
        color: var(--black-col);
        font-weight: 500;
        border-bottom: solid 2px var(--black-col);
        transition: all 125ms ease-in-out;
    }
}

.navbar-toggler {
    border: none;
    padding: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.offcanvas,
.dropdown-menu {
    border: none;
}

.offcanvas {
    box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.35);
}

.btn-close:focus {
    box-shadow: none;
}