<footer class="border-spacing">
    <div class="footer-links">
        <a class="nav-links" routerLink="/legal-notice">Imprint - Legal Notice</a>
    </div>
    <div class="footer-social-media">
        <img class="footer-social-media-img" src="./../../assets/img/icons/linkedin.png" alt="LinkedIn">
        <img class="footer-social-media-img" src="./../../assets/img/icons/github.png" alt="GitHub">
        <img class="footer-social-media-img" src="./../../assets/img/icons/xing.png" alt="Xing">
    </div>
</footer>