<div class="content border-spacing">
    <div class="about-me-details">
        <div class="mobile-only">
            <h2 class="page-heading">About me</h2>
        </div>
        <div class="profile-picture-container">
            <img src="./../../assets/img/samples/forest_1920.jpg" alt="About me" class="bg-img">
            <img src="./../../assets/img/lukas_volgger_1080.png" alt="Lukas Volgger" class="profile-img">
        </div>
        <p class="mobile-only mobile-border-spacing">" I am a frontend web developer from Austria, passionate gamer and PC hobbyist.<br>I grew up in the Alps of Austria and spent a lot of time in nature. Even as a child I had many dreams and visions that I have enthusiastically tried to put into
            practice - no matter what others thought about me. Since then nothing has changed! "</p>
        <div class="about-me mobile-border-spacing">
            <div class="about-me-header hide-mobile">
                <h2 class="page-heading">About me</h2>
                <p>" I am a frontend web developer from Austria, passionate gamer and PC hobbyist.<br>I grew up in the Alps of Austria and spent a lot of time in nature. Even as a child I had many dreams and visions that I have enthusiastically tried to
                    put into practice - no matter what others thought about me. Since then nothing has changed! "</p>
            </div>
            <div class="hyphen hide-mobile"></div>
            <div class=" skills-container ">
                <div class="progress ">
                    <span>HTML</span>
                    <div class="progress-bar " role="progressbar " aria-label="Basic example " style="width: 75% " aria-valuenow="0 " aria-valuemin="0 " aria-valuemax="100 "></div>
                </div>
                <div class="progress ">
                    <span>CSS</span>
                    <div class="progress-bar " role="progressbar " aria-label="Basic example " style="width: 60% " aria-valuenow="25 " aria-valuemin="0 " aria-valuemax="100 "></div>
                </div>
                <div class="progress ">
                    <span>JavaScript</span>
                    <div class="progress-bar " role="progressbar " aria-label="Basic example " style="width: 40% " aria-valuenow="50 " aria-valuemin="0 " aria-valuemax="100 "></div>
                </div>
                <div class="progress ">
                    <span>Angular</span>
                    <div class="progress-bar " role="progressbar " aria-label="Basic example " style="width: 30% " aria-valuenow="75 " aria-valuemin="0 " aria-valuemax="100 "></div>
                </div>
                <div class="progress ">
                    <span>SQL</span>
                    <div class="progress-bar " role="progressbar " aria-label="Basic example " style="width: 50% " aria-valuenow="75 " aria-valuemin="0 " aria-valuemax="100 "></div>
                </div>
                <!-- <div class="progress ">
                    <span>Wordpress</span>
                    <div class="progress-bar " role="progressbar " aria-label="Basic example " style="width: 40% " aria-valuenow="100 " aria-valuemin="0 " aria-valuemax="100 "></div>
                </div> -->
                <div class="progress ">
                    <span>Design Thinking</span>
                    <div class="progress-bar " role="progressbar " aria-label="Basic example " style="width: 80% " aria-valuenow="100 " aria-valuemin="0 " aria-valuemax="100 "></div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-me-description ">
        <img class="quotation-marks " src="./../../assets/img/quotation_marks.svg " alt="Quotation Marks ">
        <p>Why you should choose me? My goal orientation and ambition as well as creativity speak for me. In my career so far, I have always shown above-average commitment and tried to reconcile the goals of the company with my personal goals.<br> Creating
            something from scratch or helping to do so and leaving my personal footprint in the process gives me great pleasure.</p>
        <img class="profile-picture " src="./../../assets/img/samples/fox_640.jpg " alt="Profile Picture ">
        <p class="profile-name ">Lukas Volgger</p>
        <div class="quotation-end ">
            <div class="blue-line "></div>
            <div class="blue-dot "></div>
            <div class="blue-dot "></div>
        </div>
    </div>
</div>