<div class="about-me-container border-spacing">
    <div class="about-me-details">
        <img class="about-me-img" src="./../../assets/img/samples/forest_1920.jpg" alt="About me">
        <div class="about-me">
            <h2 class="about-me-title">About me</h2>
            <p>" Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus explicabo sint, maxime magnam nostrum fugit? Esse in magnam praesentium quo officia impedit placeat fugit dignissimos, minima blanditiis neque, voluptates doloribus.
                " </p>
            <div class="hyphen"></div>
            <div class="skills-container">
                <div class="progress">
                    <span class="skill">HTML</span>
                    <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 75%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="progress">
                    <span class="skill">CSS</span>
                    <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="progress">
                    <span class="skill">JavaScript</span>
                    <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 40%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="progress">
                    <span class="skill">Angular</span>
                    <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 30%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="progress">
                    <span class="skill">SQL</span>
                    <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 50%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="progress">
                    <span class="skill">Wordpress</span>
                    <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 40%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="progress">
                    <span class="skill">Design Thinking</span>
                    <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 80%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-me-description">
        <img class="quotation-marks" src="./../../assets/img/quotation_marks.svg" alt="Quotation Marks">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas iure voluptatum sapiente nihil debitis cupiditate, possimus nostrum totam quae nulla dolores quasi, dolorem itaque aperiam. Facilis amet fuga impedit obcaecati?</p>
        <img class="profile-picture" src="./../../assets/img/samples/fox_640.jpg" alt="Profile Picture">
        <p class="profile-name">Lukas Volgger</p>
        <div class="quotation-end">
            <div class="blue-line"></div>
            <div class="blue-dot"></div>
            <div class="blue-dot"></div>
        </div>
    </div>
</div>