.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-only {
    display: none;
}

.profile-picture-container {
    display: flex;
    position: relative;
    .profile-img {
        position: absolute;
        bottom: 0;
        height: 75%;
    }
}

.about-me-container {
    display: flex;
    margin-bottom: 32px;
    img {
        object-fit: cover;
        width: 500px;
    }
}

.about-me-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px;
    background-color: var(--section-col);
    p {
        text-align: center;
    }
}

.hyphen {
    width: 128px;
    height: 2px;
    background-color: var(--black-col);
    border-radius: 10px;
    margin-bottom: 32px;
}

.skills-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.progress {
    position: relative;
    width: 100%;
    height: 24px;
    border-radius: 0;
    background-color: #79ACFF;
    span {
        position: absolute;
        color: white;
        font-size: 16px;
        margin-left: 8px;
    }
}

.about-me-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    background-color: var(--section-col);
    padding: 32px 256px 32px 256px;
    p {
        margin: 0;
        text-align: center;
    }
}

.quotation-marks,
.profile-picture {
    object-fit: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.quotation-marks {
    transform: rotate(180deg);
}

.profile-name {
    font-weight: 600;
}

.quotation-end {
    display: flex;
    align-items: center;
    gap: 4px;
}

.blue-line {
    width: 32px;
    height: 8px;
    border-radius: 10px;
    background-color: var(--primary-col);
}

.blue-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--primary-col);
}

// ######################################################################### Media queries
// Extra small devices (max 360px)
@media (max-width: 360px) {
    .content {
        padding: 128px 0 0 0;
    }
    .mobile-border-spacing {
        padding-right: 16px;
        padding-left: 16px;
    }
    .hide-mobile {
        display: none;
    }
    .mobile-only {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        p {
            text-align: center;
        }
    }
    .about-me-container {
        flex-direction: column;
        img {
            width: 100%;
            margin-bottom: 16px;
        }
    }
    .about-me {
        padding-top: 0;
        padding-bottom: 0;
        background-color: unset;
    }
    .about-me-description {
        padding: 16px;
    }
    .quotation-marks {
        width: 48px;
        height: 48px;
    }
}

@media (min-width: 360px) {
    .content {
        padding: 128px 0 0 0;
    }
    .mobile-border-spacing {
        padding-right: 16px;
        padding-left: 16px;
    }
    .hide-mobile {
        display: none;
    }
    .mobile-only {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        p {
            text-align: center;
        }
    }
    .about-me-container {
        flex-direction: column;
        img {
            width: 100%;
            margin-bottom: 16px;
        }
    }
    .about-me {
        padding-top: 0;
        padding-bottom: 0;
        background-color: unset;
    }
    .about-me-description {
        padding: 16px;
    }
    .quotation-marks {
        width: 48px;
        height: 48px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .mobile-border-spacing {
        padding-right: 64px;
        padding-left: 64px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .about-me-description {
        padding: 32px 96px 32px 96px;
    }
    .quotation-marks {
        width: 64px;
        height: 64px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .content {
        padding: 128px 96px 0 96px;
    }
    .mobile-border-spacing {
        padding-right: 16px;
        padding-left: 16px;
    }
    .hide-mobile {
        display: flex;
    }
    .mobile-only {
        display: none;
    }
    .quotation-marks {
        width: 80px;
        height: 80px;
    }
    .about-me-container {
        width: 100%;
        flex-direction: row;
        img {
            width: 400px;
            margin-bottom: 0;
        }
    }
    .about-me {
        flex: 1;
        padding: 32px;
        background-color: var(--section-col);
    }
}