<div class="content">
    <h2 class="page-heading">My Work</h2>
    <div class="project border-spacing" id="project-1">
        <img src="./../../assets/img/covers/sharkie_cover.png" alt="Sharkie Cover">
        <div class="project-description">
            <h2>Sharkie</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eum at quasi quam provident impedit asperiores placeat, quidem neque, dicta, deserunt sunt perferendis maiores quae fugiat veritatis sint tempore porro!</p>
            <div class="project-btns">
                <button type="button" class="btn btn-outline-primary">GitHub</button>
                <button type="button" class="btn btn-primary">Try out</button>
            </div>
        </div>
    </div>
    <div class="project row-reverse border-spacing" id="project-2">
        <img src="./../../assets/img/covers/join_cover.png" alt="Join Cover">
        <div class="project-description">
            <h2>Join</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eum at quasi quam provident impedit asperiores placeat, quidem neque, dicta, deserunt sunt perferendis maiores quae fugiat veritatis sint tempore porro!</p>
            <div class="project-btns">
                <button type="button" class="btn btn-outline-primary">GitHub</button>
                <button type="button" class="btn btn-primary">Try out</button>
            </div>
        </div>
    </div>
    <div class="project border-spacing" id="project-3">
        <img src="./../../assets/img/covers/pokedex_cover.png" alt="Pokédex Cover">
        <div class="project-description">
            <h2>Pokédex</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eum at quasi quam provident impedit asperiores placeat, quidem neque, dicta, deserunt sunt perferendis maiores quae fugiat veritatis sint tempore porro!</p>
            <div class="project-btns">
                <button type="button" class="btn btn-outline-primary">GitHub</button>
                <button type="button" class="btn btn-primary">Try out</button>
            </div>
        </div>
    </div>
    <div class="project row-reverse border-spacing" id="project-4">
        <img src="./../../assets/img/covers/quiz_app_cover.png" alt="Quiz App Cover">
        <div class="project-description">
            <h2>Quiz App</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eum at quasi quam provident impedit asperiores placeat, quidem neque, dicta, deserunt sunt perferendis maiores quae fugiat veritatis sint tempore porro!</p>
            <div class="project-btns">
                <button type="button" class="btn btn-outline-primary">GitHub</button>
                <button type="button" class="btn btn-primary">Try out</button>
            </div>
        </div>
    </div>
    <div class="project border-spacing" id="project-5">
        <img src="./../../assets/img/covers/tic_tac_toe_cover.png" alt="Tic Tac Toe Cover">
        <div class="project-description">
            <h2>Tic Tac Toe</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eum at quasi quam provident impedit asperiores placeat, quidem neque, dicta, deserunt sunt perferendis maiores quae fugiat veritatis sint tempore porro!</p>
            <div class="project-btns">
                <button type="button" class="btn btn-outline-primary">GitHub</button>
                <button type="button" class="btn btn-primary">Try out</button>
            </div>
        </div>
    </div>
    <div class="project row-reverse border-spacing" id="project-6">
        <img src="./../../assets/img/covers/delivery_service_cover.png" alt="Delivery Service Cover">
        <div class="project-description">
            <h2>Delivery Service</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eum at quasi quam provident impedit asperiores placeat, quidem neque, dicta, deserunt sunt perferendis maiores quae fugiat veritatis sint tempore porro!</p>
            <div class="project-btns">
                <button type="button" class="btn btn-outline-primary">GitHub</button>
                <button type="button" class="btn btn-primary">Try out</button>
            </div>
        </div>
    </div>
    <div class="project border-spacing" id="project-7">
        <img src="./../../assets/img/covers/photo_gallery_cover.png" alt="Photo Gallery Cover">
        <div class="project-description">
            <h2>Photo Gallery</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eum at quasi quam provident impedit asperiores placeat, quidem neque, dicta, deserunt sunt perferendis maiores quae fugiat veritatis sint tempore porro!</p>
            <div class="project-btns">
                <button type="button" class="btn btn-outline-primary">GitHub</button>
                <button type="button" class="btn btn-primary">Try out</button>
            </div>
        </div>
    </div>
    <div class="project row-reverse border-spacing" id="project-8">
        <img src="./../../assets/img/covers/notepad_cover.png" alt="Notepad Cover">
        <div class="project-description">
            <h2>Notepad</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eum at quasi quam provident impedit asperiores placeat, quidem neque, dicta, deserunt sunt perferendis maiores quae fugiat veritatis sint tempore porro!</p>
            <div class="project-btns">
                <button type="button" class="btn btn-outline-primary">GitHub</button>
                <button type="button" class="btn btn-primary">Try out</button>
            </div>
        </div>
    </div>
</div>