<div class="my-work-container">
    <h2 id="my-work" class="my-work-title">My Work</h2>
    <div class="my-work-project border-spacing">
        <img src="./../../assets/img/samples/web_development.jpg" alt="Web Development">
        <div class="project-description-container">
            <h2>Project Name</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eum at quasi quam provident impedit asperiores placeat, quidem neque, dicta, deserunt sunt perferendis maiores quae fugiat veritatis sint tempore porro!</p>
            <div class="project-btns-container">
                <button type="button" class="btn btn-outline-primary project-btn">JS DOC</button>
                <button type="button" class="btn btn-primary project-btn">Try out</button>
            </div>
        </div>
    </div>
    <div class="my-work-project row-reverse border-spacing">
        <img src="./../../assets/img/samples/web_development.jpg" alt="Web Development">
        <div class="project-description-container">
            <h2>Project Name</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eum at quasi quam provident impedit asperiores placeat, quidem neque, dicta, deserunt sunt perferendis maiores quae fugiat veritatis sint tempore porro!</p>
            <div class="project-btns-container">
                <button type="button" class="btn btn-outline-primary project-btn">JS DOC</button>
                <button type="button" class="btn btn-primary project-btn">Try out</button>
            </div>
        </div>
    </div>
    <div class="my-work-project border-spacing">
        <img src="./../../assets/img/samples/web_development.jpg" alt="Web Development">
        <div class="project-description-container">
            <h2>Project Name</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eum at quasi quam provident impedit asperiores placeat, quidem neque, dicta, deserunt sunt perferendis maiores quae fugiat veritatis sint tempore porro!</p>
            <div class="project-btns-container">
                <button type="button" class="btn btn-outline-primary project-btn">JS DOC</button>
                <button type="button" class="btn btn-primary project-btn">Try out</button>
            </div>
        </div>
    </div>
</div>