<div class="content">
    <h2>My Work</h2>
    <div class="project border-spacing">
        <img src="./../../assets/img/samples/web_development_1920.jpg" alt="Web Development">
        <div class="project-description">
            <h2>Project Name</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eum at quasi quam provident impedit asperiores placeat, quidem neque, dicta, deserunt sunt perferendis maiores quae fugiat veritatis sint tempore porro!</p>
            <div class="project-btns">
                <button type="button" class="btn btn-outline-primary">JS DOC</button>
                <button type="button" class="btn btn-primary">Try out</button>
            </div>
        </div>
    </div>
    <div class="project row-reverse border-spacing">
        <img src="./../../assets/img/samples/web_development_1920.jpg" alt="Web Development">
        <div class="project-description">
            <h2>Project Name</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eum at quasi quam provident impedit asperiores placeat, quidem neque, dicta, deserunt sunt perferendis maiores quae fugiat veritatis sint tempore porro!</p>
            <div class="project-btns">
                <button type="button" class="btn btn-outline-primary">JS DOC</button>
                <button type="button" class="btn btn-primary">Try out</button>
            </div>
        </div>
    </div>
    <div class="project border-spacing">
        <img src="./../../assets/img/samples/web_development_1920.jpg" alt="Web Development">
        <div class="project-description">
            <h2>Project Name</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eum at quasi quam provident impedit asperiores placeat, quidem neque, dicta, deserunt sunt perferendis maiores quae fugiat veritatis sint tempore porro!</p>
            <div class="project-btns">
                <button type="button" class="btn btn-outline-primary">JS DOC</button>
                <button type="button" class="btn btn-primary">Try out</button>
            </div>
        </div>
    </div>
</div>