.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: calc(100vh - 160px);
}

.error-404 {
    font-size: 256px;
    font-weight: bold;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url(./../../assets/img/samples/forest_1920.jpg);
    background-size: cover;
    background-position: -141%;
    color: transparent;
}

h2 {
    margin-bottom: 32px;
}

.hyphen {
    width: 128px;
    height: 2px;
    background-color: var(--black-col);
    border-radius: 10px;
    margin-bottom: 32px;
}

.btn {
    width: 196px;
}