.success-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    gap: 16px;
}

.alert {
    width: 600px;
    text-align: center;
}