<div class="content border-spacing">
    <h2 class="page-heading">My Principles</h2>
    <p>Principles are important. Every person has his or her own principles according to which he or she lives and works. For me, the following principles are essential for my life and work.</p>
    <div class="principle">
        <div>
            <img src="./../../assets/img/icons/handshake.png" alt="Handshake">
            <h3>Trust</h3>
        </div>
        <p>Without trust, relationships cannot develop and last. No matter whether professional or private. I therefore do not make promises that I can not keep and stand by my mistakes that happen. </p>
    </div>
    <div class="principle">
        <div>
            <img src="./../../assets/img/icons/quality.png" alt="Quality">
            <h3>Quality</h3>
        </div>
        <p>Quality is the top priority. What is done is done well or not at all. In doing so, I work according to the concept "Less is more." Less lines of code to achieve the same end result increase the readability and efficiency of the application.</p>
    </div>
    <div class="principle">
        <div>
            <img src="./../../assets/img/icons/internet_security.png" alt="Internet Security">
            <h3>Security</h3>
        </div>
        <p>Internet security is a standard requirement these days. Customer data, user data, company data - sensitive data must be protected from unauthorized access. In the area of frontend web development, there are already many things to consider that
            have a decisive impact on security. </p>
    </div>
    <div class="principle">
        <div>
            <img src="./../../assets/img/icons/no_adult_content.png" alt="No adult content">
            <h3>No adult content</h3>
        </div>
        <p>I don't do projects with adult content. The Internet is flooded with such content and it has a negative impact on our society and interpersonal relationships. Everyone is equal from the ground up and should not be judged by their appearance or
            other characteristics.</p>
    </div>
</div>