<div class="border-spacing">
    <h2>My Principles</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta eveniet beatae aperiam quos doloremque quidem ipsam deleniti iste aliquam eum, consequatur ducimus nisi culpa, dolores aspernatur quis optio excepturi? Dolorem?</p>
    <div class="principle">
        <div>
            <img src="./../../assets/img/icons/handshake.png" alt="Handshake">
            <h3>Trust</h3>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptas amet ipsam cupiditate rerum dicta natus sequi doloribus qui perspiciatis, omnis commodi doloremque cumque exercitationem. Explicabo necessitatibus assumenda voluptatum impedit.</p>
    </div>
    <div class="principle">
        <div>
            <img src="./../../assets/img/icons/quality.png" alt="Quality">
            <h3>Quality</h3>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptas amet ipsam cupiditate rerum dicta natus sequi doloribus qui perspiciatis, omnis commodi doloremque cumque exercitationem. Explicabo necessitatibus assumenda voluptatum impedit.</p>
    </div>
    <div class="principle">
        <div>
            <img src="./../../assets/img/icons/internet_security.png" alt="Internet Security">
            <h3>Security</h3>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptas amet ipsam cupiditate rerum dicta natus sequi doloribus qui perspiciatis, omnis commodi doloremque cumque exercitationem. Explicabo necessitatibus assumenda voluptatum impedit.</p>
    </div>
    <div class="principle">
        <div>
            <img src="./../../assets/img/icons/no_adult_content.png" alt="No adult content">
            <h3>No adult content</h3>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptas amet ipsam cupiditate rerum dicta natus sequi doloribus qui perspiciatis, omnis commodi doloremque cumque exercitationem. Explicabo necessitatibus assumenda voluptatum impedit.</p>
    </div>

</div>