<div class="content border-spacing">
    <h2 class="page-heading">My Principles</h2>
    <p>Principles are important. Every person has his or her own principles according to which he or she lives and works. For me, the following principles are essential for my life and work.</p>
    <div class="principle" id="principle-1">
        <div>
            <img src="./../../assets/img/icons/handshake.png" alt="Handshake">
            <h3>Trust</h3>
        </div>
        <p>Without trust, relationships cannot develop and last. No matter whether professional or private. I therefore do not make promises that I can not keep and stand by my mistakes that happen. </p>
    </div>
    <div class="principle" id="principle-2">
        <div>
            <img src="./../../assets/img/icons/quality.png" alt="Quality">
            <h3>Quality</h3>
        </div>
        <p>Quality is the top priority. What is done is done well or not at all. In doing so, I work according to the concept "Less is more." Less lines of code to achieve the same end result increase the readability and efficiency of the application.</p>
    </div>
    <div class="principle" id="principle-3">
        <div>
            <img src="./../../assets/img/icons/internet_security.png" alt="Internet Security">
            <h3>Security</h3>
        </div>
        <p>IT-Security is a standard requirement these days. Customer data, user data, company data - sensitive data must be protected from unauthorized access. In the area of frontend web development, there are already many things to consider that have
            a decisive impact on security:</p>
        <br>
        <ul>
            <li>Social Engineering</li>
            <li>Denial of Service (DoS/DDoS)</li>
            <li>SSL Encryption (HTTPS)</li>
            <li>Password Management</li>
            <li>Cross-Site-Scripting (XSS)</li>
            <li>SQL Injection</li>
            <span>...</span>
        </ul>
        <p>My goal is to handle the data as securely and anonymously as possible in my projects. </p>
    </div>
    <div class="principle" id="principle-4">
        <div>
            <img src="./../../assets/img/icons/no_adult_content.png" alt="No adult content">
            <h3>No adult content</h3>
        </div>
        <p>I reject projects with adult content.<br> Such content can be harmful to young people and have a negative impact on interpersonal relationships. Besides, a lot of crimes happen in this area, which I do not want to support in any way. </p>
    </div>
</div>