.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principle {
    transform: translateX(-150%);
    width: 100%;
    margin: 32px 0 32px 0;
    padding: 16px;
    background-color: var(--section-col);
    div {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    h3 {
        margin: 0;
    }
    img {
        object-fit: contain;
        width: 48px;
    }
    p {
        margin: 0;
    }
}

.fade-in-animation {
    transform: translateX(0%);
    transition: all 1250ms ease-in-out;
}

// ######################################################################### Media queries
// Extra small devices (max 360px)
@media (max-width: 360px) {
    p {
        text-align: center;
    }
    .principle {
        margin: 0 0 16px 0;
        div {
            display: flex;
            justify-content: center;
            margin-bottom: 8px;
        }
    }
}

@media (min-width: 360px) {
    p {
        text-align: center;
    }
    .principle {
        margin: 0 0 16px 0;
        div {
            display: flex;
            justify-content: center;
            margin-bottom: 8px;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .principle {
        margin: 0 0 32px 0;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    p {
        text-align: unset;
    }
    .principle {
        div {
            justify-content: flex-start;
        }
    }
}