<!-- TODO Add contact details -->
<div class="content border-spacing">
    <h2>Imprint</h2>
    <h3>Information according to § 5 TMG:</h3>
    <p>Lukas Volgger</p>
    <h3>Postal address:</h3>
    <p>Street / Number<br>Postcode / City<br>Country</p>
    <h3>Contact:</h3>
    <span>Phone: </span><a href="tel: +43123456">+43123456</a><br>
    <span>E-Mail: </span><a href="mailto: email@provider.com">email@provider.com</a>
    <p></p>
    <p><br></p>
    <p></p>
    <h3>Website notes</h3>
    <p></p>
    <p>
        <em>The imprint was created with the <a href="https://www.activemind.de/datenschutz/impressums-generator/">imprint generator of activeMind AG.</a></em>
    </p>
</div>

<!-- DE -->
<!-- <div class="content border-spacing">
    <h2>Impressum</h2>
    <h2>Angaben gemäß § 5 TMG:</h2>
    <p><br>Lukas Volgger</p>
    <h3>Postanschrift:</h3>
    <p>Straße / Hausnummer<br>Postleitzahl / Ort<br>Land</p>
    <h3>Kontakt:</h3>
    <span>Telefon: </span><a href="tel: +43123456">+43123456</a><br>
    <span>E-Mail: </span><a href="mailto: email@provider.com">email@provider.com</a>
    <p></p>
    <p><br></p>
    <p></p>
    <h2>Hinweise zur Website</h2>
    <p></p>
    <p>
        <em>Das Impressum wurde mit dem <a href="https://www.activemind.de/datenschutz/impressums-generator/">Impressums-Generator der activeMind AG</a> erstellt.</em>
    </p>
</div> -->