h3 {
    text-decoration: underline;
}

a {
    color: #639DFC;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.page-header {
    display: flex;
    justify-content: center;
}