button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 32px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 56px;
    height: 56px;
    padding: 0;
    img {
        padding: 18px;
        &:hover {
            filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(4370%) hue-rotate(303deg) brightness(122%) contrast(100%);
        }
    }
}