/* You can add global styles to this file, and also import other style files */

// ######################################################################### Typography variables
$primary-col: #126BFB;
$secondary-col: #EEF4FF;
$action-col: #7BB9FA;
$grey-col: #5B5963;
$black-col: #282828;
$xs-space: 16px;
$l-space: 32px;
$xl-space: 46px;
$xxl-space: 142px;
// ######################################################################### Own variables
$link-col: #BABABA;
// ######################################################################### Fonts
@font-face {
    font-family: OpenSans;
    src: url(./assets/fonts/OpenSans/OpenSans-VariableFont_wdth,wght.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}

// ######################################################################### General
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Roboto-Regular;
}

h1 {
    font-size: 54px;
    margin: 0;
}

h2 {
    font-size: 36px;
    margin: 0;
}

p {
    font-size: 18px;
}

.border-spacing {
    padding: 0 96px 0 96px;
}

.nav-links {
    color: $link-col;
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: solid 2px transparent;
    &:hover {
        color: $black-col;
        font-weight: 500;
        border-bottom: solid 2px $black-col;
        transition: all 125ms ease-in-out;
    }
}