.home-bg-container {
    position: relative;
    height: 600px;
    background-image: url(../../assets/img/samples/beach_grass.jpg);
}

.wave-shape {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}