.content {
    display: flex;
    position: relative;
    background-image: url('./../../assets/img/background/mountains_1920.jpg');
    background-position-y: 70%;
    background-size: cover;
    h1 {
        color: white;
        margin-bottom: 32px;
    }
    p {
        color: white;
        text-align: center;
    }
    svg {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.home-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 600px;
    height: max-content;
    margin-top: 64px;
}

// ######################################################################### Media queries
// Extra small devices (max 360px)
@media (max-width: 360px) {
    .content {
        height: max-content;
        padding-bottom: 64px;
    }
    h1 {
        font-size: 44px;
        text-align: center;
    }
}

@media (min-width: 360px) {
    h1 {
        font-size: 44px;
        text-align: center;
    }
    .content {
        height: max-content;
        padding-bottom: 64px;
    }
    .home-banner {
        width: 442px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .content {
        padding-bottom: 96px;
    }
    .home-banner {
        width: 442px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .content {
        padding-bottom: 128px;
    }
    .home-banner {
        width: 442px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .content {
        padding-bottom: 176px;
    }
    .home-banner {
        width: 442px;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .content {
        padding-bottom: 208px;
    }
}

@media (min-width: 2000px) {
    .content {
        padding-bottom: 240px;
    }
}

@media (min-width: 2200px) {
    .content {
        padding-bottom: 272px;
    }
}

@media (min-width: 2400px) {
    .content {
        padding-bottom: 304px;
    }
}