.home-bg-container {
    position: relative;
    height: 600px;
    background-image: url(../../assets/img/samples/mountains_snow_forest_1920.jpg);
    background-position-y: 70%;
    h1 {
        color: white;
    }
    p {
        color: white;
        text-align: center;
    }
}

.home-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    padding-top: 96px;
}

.wave-shape {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}